/******** nav ********/

header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2973;
}

.logo {
    margin-left: 5%;
}

.navlinks {
    display: flex;
    margin-right: 5%;
}

h3 {
    color: #ffffff;
}

li {
    padding: 8px;
}

/******** section one ********/

section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2973;
    color: #ffffff;
}

.sectionone {
    padding: 5%;
}

.sectiononebutton {
    padding: 2% 5%;
    border-radius: 10px;
    background-color: #3882f6;
    color: #ffffff;
}

.sailboat {
    width: 40%;
    padding: 5%;
}

/******** section two ********/
a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style: none;
}

